ASSIGNMENT-1 Data Types

1.Construct 2 lists containing all the available data types  (integer, float,
string, complex and Boolean) and do the following..

Create another list by concatenating above 2 lists
Find the frequency of each element in the concatenated list.
Print the list in reverse order.

In [25]:
#Creating 2 lists
list1 = [89,56.89,'Hello',4+2j,False]
list2 = [100,3.14,'Welcome',2+3j,True]
#list1
print(list1)
#list1
print(list2)

[89, 56.89, 'Hello', (4+2j), False]
[100, 3.14, 'Welcome', (2+3j), True]

In [6]:
#creating concantenated list
list3 = list1 + list2
list3

[89, 56.89, 'Hello', (4+2j), False, 100, 3.14, 'Welcome', (2+3j), True]

In [18]:
#Frequency of each element in list
for x in list3:
  print('{} {}'.format(x,list3.count(x)))

89 1
56.89 1
Hello 1
(4+2j) 1
False 1
100 1
3.14 1
Welcome 1
(2+3j) 1
True 1

In [21]:
#Print the list in reverse order.
list3.reverse()
list3

[True, (2+3j), 'Welcome', 3.14, 100, False, (4+2j), 'Hello', 56.89, 89]

2.Create 2 Sets containing integers (numbers from 1 to 10 in one set and 5 to 15 in other set)

Find the common elements in above 2 Sets.
Find the elements that are not common.
Remove element 7 from both the Sets.

In [29]:
#Creating sets
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {5,6,7,8,9,10,11,12,13,14,15}
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [30]:
#Common elements in both set
set1.intersection(set2)

{5, 6, 7, 8, 9, 10}

In [38]:
#Non Common elements
set1.union(set2) - set1.intersection(set2)

{1, 2, 3, 4, 11, 12, 13, 14, 15}

In [27]:
#Removing element from set
set1.remove(7)
set1

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [28]:
set2.remove(7)
set2

{5, 6, 8, 9, 10, 11, 12, 13, 14, 15}

3.Create a data dictionary of 5 states having state name as key and number of covid-19 cases as values.

Print only state names from the dictionary.
Update another country and itâ€™s covid-19 cases in the dictionary.

In [57]:
# Creating dictionary
d = {'Kerala': 150, 'Maharashtra':200,'Telangana':130,'Goa':86,'Karnataka':170}
d

{'Kerala': 150,
 'Maharashtra': 200,
 'Telangana': 130,
 'Goa': 86,
 'Karnataka': 170}

In [58]:
#Printing state names
print(d.keys())

dict_keys(['Kerala', 'Maharashtra', 'Telangana', 'Goa', 'Karnataka'])

In [59]:
#Updating country and case
d['Tamil Nadu'] = d.pop('Goa')
print(d)
d['Goa'] = 290
print(d)

{'Kerala': 150, 'Maharashtra': 200, 'Telangana': 130, 'Karnataka': 170, 'Tamil Nadu': 86}
{'Kerala': 150, 'Maharashtra': 200, 'Telangana': 130, 'Karnataka': 170, 'Tamil Nadu': 86, 'Goa': 290}